*{box-sizing: border-box;margin:0;padding:0;}
*::before, *::after{box-sizing: border-box;}

body{
    background: #ffe600;
    min-height: 100vh;
}
.skin{
    position: relative;   /*相对定位*/
   /* background: #ffe600;
    height: 100vh; */
}
.nose{
    border: 10px solid black;
    border-color: black transparent transparent; /*上红，下颜色无，左右颜色透明*/
    border-bottom: none;
    width: 0px;
    height: 0px;
    position: relative; /*绝对定位*/
    left: 50%;
    top: 145px;
    margin-left: -10px;  /*左边10px,右边10px，这样才居中*/
    z-index: 10;  /*层叠上下文*/
}
@keyframes wave{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(5deg);
    }
    66%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.nose:hover{
    /*transform-origin: 50% 100%;*/ /*50%是左右方向以正中心为基准，100%是上下方向以下面为基准*/
    transform-origin: center bottom;
    animation: wave 300ms infinite linear;  /*infinite无限, linear线性*/
}


.yuan{
    position: absolute;
    width: 20px;
    height: 6px;
    top: -16px;
    left: -10px;
    border-radius: 10px 10px 0 0;  /*左上角10px,右上角10px,左下和右下不变，圆弧形*/
    background: black;
}

.eye{
    border: 2px solid #000;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -32px; /*居中*/
    background: #2e2e2e;
    border-radius: 50%;
}
.eye::before{
    content: "";
    display: block;  /*d:b + tap*/
    border: 3px solid #000;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    left: 4px;
    top: 2px;
}
.eye.left{
    transform: translateX(-100px);
}
.eye.right{
    transform: translateX(100px);
}

.mouth{
    /*border: 1px solid red;*/
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 170px;
    margin-left: -100px;
}
.mouth .up{
    position: relative;
    top: -20px;
    z-index: 1;
}
.mouth .up .lip{
    border: 3px solid black;
    height: 30px;
    width: 100px;
    background: #ffe600;
    border-top-color: transparent;
    border-right-color: transparent;
    position: relative;/*相对定位*/
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.mouth .up .lip.left{
    border-radius: 0 0 0 50px;
    transform: rotate(-15deg) translateX(-53px);
}
.mouth .up .lip.right{
    border-radius: 0 0 50px 0;
    transform: rotate(15deg) translateX(53px);
}

.mouth .up .lip::before{
    content: "";
    display: block;
    width: 7px;
    height: 30px;
    position: absolute;/*绝对定位*/
    bottom: 0;
    background: #ffe600;
}
.mouth .up .lip.left::before{  /*搞一个div遮住上嘴唇的竖线*/
    right: -6px;
}
.mouth .up .lip.right::before{  /*搞一个div遮住上嘴唇的竖线*/
    left: -6px;
}

.mouth .down{
    /*border: 1px solid red;*/
    height: 180px;
    position: absolute;
    top: 5px;
    width: 100%;
    overflow: hidden;
}

.mouth .down .yuan1{
    border: 3px solid black;
    width: 150px;
    height: 1000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    border-radius: 75px/300px;
    background: #9b000a;
    overflow: hidden;
}

.mouth .down .yuan1 .yuan2{
   /* border: 1px solid green;*/
    width: 200px;
    height: 300px;
    background: #ff485f;
    position: absolute;
    bottom: -155px;
    left: 50%;
    margin-left: -100px;
    border-radius: 100px;
}

.face {
    position: absolute;
    left: 50%;
    border: 3px solid black;
    width: 88px;
    height: 88px;
    top: 200px;
    margin-left: -44px;
    z-index: 3;
}
.face > img{
    /*border: 1px solid red;*/
    position: absolute;
    top: 50%;
    left: 50%;
}

.face.left{
    transform: translateX(-180px);
    background: #ff0000;
    border-radius: 50%;
}
.face.left > img{
    transform: rotateY(180deg);
    transform-origin: 0 0;
}

.face.right{
    transform: translateX(180px);
    background: #ff0000;
    border-radius: 50%;
}